<h2>Sign Up</h2>
<div class="container col-xs-4 border py-2">
  <form #signupForm="ngForm" (ngSubmit)="registerUser()">
    <div class="form-group">
      <label for="username">Username</label>
      <input
        type="text"
        class="form-control"
        id="username"
        required
        [(ngModel)]="model.username"
        name="username"
      />
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        [(ngModel)]="model.password"
        name="password"
      />
    </div>

    <div class="form-group">
      <label for="verifyPassword">Verify Password</label>
      <input
        type="password"
        class="form-control"
        id="verifyPassword"
        [(ngModel)]="model.verifyPassword"
        name="verifyPassword"
      />
    </div>

    <button class="btn" type="submit" class="btn btn-success">Sign Up!</button>
  </form>
</div>
