<h2>Login</h2>
<form #signupForm="ngForm" (ngSubmit)="login()">
  <div class="form-group">
    <label for="username">Username</label>
    <input
      type="text"
      class="form-control"
      id="username"
      required
      [(ngModel)]="model.username"
      name="username"
    />
  </div>

  <div class="form-group">
    <label for="password">Password</label>
    <input
      type="password"
      class="form-control"
      id="password"
      [(ngModel)]="model.password"
      name="password"
    />
  </div>

  <button class="btn" type="submit" class="btn btn-success">Submit</button>
</form>
<button class="btn" class="btn btn-success" (click)="getGames()">
  Get Games
</button>
